* {
    padding: 0px;
    margin: 0px;
}

table {
    width: 100%;
}

img {
    width: 100px;
    height: auto;
}

#menu ul li a {text-decoration: none;display: inline-block;width: 100px;text-transform:  uppercase;height: 50px;line-height:  50px;color:  #fff;}

#menu ul {
    list-style: none;
}

#menu ul li {
    display:  inline-block;
    width: 100px;
}

#menu ul {
    background: #8BC34A;
    padding-left: 40px;
}

#banner {
    background-color: #fff;
    background: #222 url(../img/banjo.jpg) bottom center no-repeat;
    background-size: cover;
    height: 500px;
    text-align:  center;
    color:  #fff;
    font-size:  18px;
}

#banner table {
    width:  800px;
    margin: 0px auto;
}

#btn-banner td {
    width: 120px;
    background: #8BC34A;
    display: inline-block;
    margin-left:  10px;
    padding: 7px 16px;
    border-radius:  5px;
    margin-top: 27px;
}

#container img {
    width: 297px;
    margin: 0px auto;
}

table.detail-product {
    padding-left: 43px;
    margin-bottom:  50px;
}

.detail-product p {
    color : #4CAF50;
    width: 300px;
    text-align: center;
    margin-top: 17px;
}

.container {
    margin-bottom: 0px;
}

tr#footer a {
    display: block;
    list-style-type: none;
    padding-left: 10px;
    margin: 10px 55px;
}

tr#footer {
    background: #9E9E9E;
}

#footer ul {
    list-style-type: none;
}