* {
    
}

form button {
    border: none;
    padding: 5px 12px;
    background: red;
    color: #fff;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    width: 30%;
    display: inline-block;
}


.input-group input {
    width: 60%;
}

form {
    width: 60%;
    margin-left: 20%
}

.list-product {
    width: 100%;
}
