* {
    
}

#nav-sidebar a {
    color: #000;
    text-decoration: none;
    padding: 2px;
    margin-left: 5px;
}

a.btn-seach {
    background: #8BC34A;
}

#nav-sidebar li {
    padding-top: 25px;
    padding-left: 41px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.icon img {
    float: left;
    width:  14px;
    margin-right: 4px;
}

.banchay {
    overflow: auto;
    text-align:  center;
}

.banchay h3 {
    font-size: 1rem;
    color: #4CAF50;
    text-align:  left;
    margin-top:  20px;
    text-transform:  uppercase;
    border-bottom: 5px solid #4CAF50;
}

.img-product img {
    width: 97%;
}

.product {
    width: 26%;
    float: left;
    border: 1px solid #4CAF50;
    padding: 15px 0px;
    border-radius: 5px;
    text-align:  center;
    background: #9CCC65;
    margin: 30px 9px;
    position: relative;
}

.detail-product {
    color: #fff;
}

.detail-product a {
    text-decoration: none;
    color:  #fff;
    text-transform:  uppercase;
    border: 1px solid #FFC107;
    background: #FF9800;
    padding: 4px 5px;
    margin-left: 5px;
    border-radius: 4px;
}

.price {
    color: #E91E63;
    font-size: 1.5rem;
    margin-bottom:  4px;
}

.detail-product p {
    font-size: 1rem;
    margin-bottom: 7px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    
    .banchay {
        overflow: auto;
        text-align:  center;
        margin: 10px;
    }
    
    .img-product img {
        width: 80%;
    }
    
    .product {
        width: 90%;
        float: left;
        border: 1px solid #4CAF50;
        padding: 15px 0px;
        border-radius: 5px;
        text-align:  center;
        background: #9CCC65;
        margin: 30px 9px;
    }

    .icon img {
        float: left;
    }
}
