#khoi5 {

    background: gold;
    height: 400px;
}

#khoi6 {
    display: inline-block;
    background: gray;
    width: 50%;
    height: 400px;
}

#khoi7 {
    background: blue;
    display: inline-block;
    width: 50%;
    height: 400px;
    float: right;
}

#khoi4 {
    background: red;
    height: 400px;
}