* {
    
}

.img-product {
    min-height: 280px;
}

ul#nav {
    display: flex;
    font-size: 1.1rem;
    width: 100%;
}

.account-area li {
    display: block;
}

.account-area li {
    display: inline-block;
}

.quangcao {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    padding: 25px 0px;
}

.quangcao img {
    width: 47%;
    margin-right: 24px;
}

#nav-sidebar a {
    color: #000;
    text-decoration: none;
    font-size: 0.8rem !important;
    text-transform: uppercase !important;
}

a.btn-seach {
    background: #8BC34A;
}

#nav-sidebar li {
    padding: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.icon img {
    float: left;
    width:  14px;
    margin-right: 4px;
}

.banchay {
    overflow: auto;
    text-align:  center;
    background: #fff;
}

.banchay h3 {
    font-size: 1rem;
    color: #000;
    text-align:  left;
    margin-top:  20px;
    text-transform:  uppercase;
    border-bottom: 1px solid #999;
    margin-bottom: 22px;
    margin-top: 14px;
    margin-left: 26px;
    padding-bottom: 4px;
    margin-right: 26px;
}

.img-product img {
    width: 60%;
}

.product {
    width: 20%;
    float: left;
    text-align:  center;
    min-height: 430px;
}

.detail-product {
    color: #fff;
}

.detail-product a {
    text-decoration: none;
    color:  #fff;
    text-transform:  uppercase;
    background: #ffeb3b;
    padding: 4px 5px;
    margin-right: 5px;
    border-radius: 3px;
    font-size: 12px;
}

.price {
    color: #E91E63;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.detail-product p {
    font-size: 0.7rem;
    color: #000;
    margin: 20px 0px 8px 0px;
    text-transform: uppercase;
}

@media only screen and (min-width: 0px) and (max-width: 1100px) {
    
    .banchay {
        overflow: auto;
        text-align:  center;
        margin: 10px;
    }
    
    .img-product img {
        width: 80%;
    }
    
    .product {
        width: 45%;
        float: left;
    }

    .icon img {
        float: left;
    }
}
