

#khoi1 {
    display: flex;
}


#khoi3 {
    width: 50%;
    background: red;
}


#khoi4 {
    width: 50%;
    background: blue;
}

#khoi5 {
    background: aqua;
    height: 400px;
}

#khoi6 {
    height: 400px;
    background: gray;
}

#khoi7 {
    height: 200px;
    background: green;
}

#khoi8 {
    background:fuchsia;
    height: 300px;
}

#khoi9 {
    height: 400px;
    background: firebrick;
    display: flex;
}

#khoi10 {
    height: 300px;
    background: dodgerblue;
}

#khoi11 {
    width: 50%;
    background: gold;
}

#khoi12 {
    width: 50%;
    background: forestgreen;
}

#khoi2 {
    display: flex;
}

#khoi13 {
    background: red;
    width: 33%;
    height: 100px;
}

#khoi14 {
    background: blue;
    width: 33%;
    height: 100px;
}

#khoi15 {
    background: blueviolet;
    width: 34%;
    height: 100px;
}