* {
    
}

.account-area li {
    display: block;
}

.account-area li {
    display: inline-block;
}

.quangcao {
    display: flex;
    margin-bottom: 15px;
}

.quangcao img {
    width: 47%;
    margin-right: 24px;
}

#nav-sidebar a {
    color: #000;
    text-decoration: none;
    padding: 2px;
    margin-left: 5px;
}

a.btn-seach {
    background: #8BC34A;
}

#nav-sidebar li {
    padding-top: 25px;
    padding-left: 41px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.icon img {
    float: left;
    width:  14px;
    margin-right: 4px;
}

.banchay {
    overflow: auto;
    text-align:  center;
    background: #fff;
    margin: 20px 40px 31px 0px;
}

.banchay h3 {
    font-size: 1rem;
    color: #000;
    text-align:  left;
    margin-top:  20px;
    text-transform:  uppercase;
    border-bottom: 1px solid #999;
    margin-bottom: 22px;
    margin-top: 14px;
    margin-left: 26px;
    padding-bottom: 4px;
    margin-right: 26px;
}

.img-product img {
    width: 97%;
}

.product {
    width: 20%;
    float: left;
    text-align:  center;
    height: 410px;
}

.detail-product {
    color: #fff;
}

.detail-product a {
    text-decoration: none;
    color:  #fff;
    text-transform:  uppercase;
    border: 1px solid #FFC107;
    background: #FF9800;
    padding: 4px 5px;
    margin-left: 5px;
    border-radius: 4px;
}

.price {
    color: #E91E63;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
    font-family: cursive;
}

.detail-product p {
    font-size: 1rem;
    margin-bottom: 7px;
    color: #000;
    font-family: cursive;
    margin-bottom: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    
    .banchay {
        overflow: auto;
        text-align:  center;
        margin: 10px;
    }
    
    .img-product img {
        width: 80%;
    }
    
    .product {
        width: 30%;
        float: left;
    }

    .icon img {
        float: left;
    }
}
